@font-face {
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  src: url('../../shared/assets/fonts/Nekst-Black/Nekst-Bold.eot');
  //src: url('../../shared/assets/fonts/Nekst-Black/Nekst-Bold.woff2') format('woff2');
  //url('../../shared/assets/fonts/Nekst-Black/Nekst-Bold.woff') format('woff'),
  //url('../../shared/assets/fonts/Nekst-Black/Nekst-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../../shared/assets/fonts/Gilroy/Gilroy-Regular.eot') format('eot');
  //src: url('../../shared/assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
  //url('../../shared/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
  //url('../../shared/assets/fonts/Gilroy/Gilroy-Regular.ttf') format('ttf');
}