@import "global/global";
@import "global/grid.css";
@import "global/flex.css";
@import "global/text.css";
@import "global/utils.css";
@import "fonts";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

.app {
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 213px 48px 5px 48px;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: 'Nekst-Black', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #111111;
  margin-bottom: 32px;
}

.text {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
  margin-bottom: 24px;
}

.input {
  height: 68px;
  margin-bottom: 20px;
}

.range {
  position: relative;
  width: 100%;
  padding: 0 20px;
  top: -34.5px;
}

.number {
  font-family: 'Nekst-Black', sans-serif;
  margin-bottom: 44px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #333333;
}

.btn {
  padding: 8px 16px 12px;
  height: 68px;
  background: #FF9514;
  border-radius: 40px;
  margin-bottom: 40px;
  font-family: 'Nekst-Black', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: white;
  border: none;
  width: 100%;
}


@media (min-width: 1120px) {
  .app {
    padding: 213px 9px 5px 9px;
  }
}

@media (max-width: 768px) {
  .app {
    padding: 64px 9px 5px 9px;
  }
}

@media (min-width: 320px) {
  .app {
    padding: 44px 26px 5px 26px;
  }

  .title {
    font-size: 34px;
  }

  .input {
    height: 60px;
  }

  .text {
    margin-bottom: 8px;
  }

  .number {
    font-size: 22px;
    margin-bottom: 29px;
  }

  .btn {
    height: 60px;
    font-size: 22px;
  }
}